
.findContainer {
    position: absolute;
    background-color: #ffffff;
    border-radius: 14px;
    z-index: 200;
    top: 25%;
    left: 25%;
  }

  .findHead {
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .findBody {
    display: flex;
    justify-content: space-between;
  }
  
  .findFooter {
    display: flex;
    justify-content: space-evenly;
  }
  
