

:root {
  --bg:#ECF0F1;
  --primary-color: #FFFFFF;
  --secondary-color: #0D6EFD;
  --fcolor:#000000;
  
}

i{
  font-size: 16px;
}
a{
  color:var(--fcolor);
  text-decoration: none;
}

button{
  border: none;
  background:none;
}
body{
  background: var(--bg);
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}
