

:root {
  /* --bg:#ECF0F1; */
  /* --primary-color: #FFFFFF; */
  /* --secondary-color: #0D6EFD; */
  --fcolor:#ffffff;
  --bg:RGB(10,25,47);
  --primary-color:#172A46;
  --secondary-color:RGB(10,25,47)

  
}

i{
  font-size: 14px;
  color: var(--fcolor);
}
a{
  color:var(--fcolor);
  text-decoration: none;
}

button{
  border: none;
  background:none;
}
body{
  background: var(--bg);
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}

h6,p{
  color:var(--fcolor);
}
.btn-primary{
  background-color: var(--bg) !important;
}



input{
  background-color: var(--primary-color);
  color: var(--fcolor);
}
