
.textEditor {
    height: calc(100vh - 88px);
    display: flex;
    flex-flow: column;
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 1px 1px 4px;
    
  }


.editorIcon {
    display: flex;
    justify-content: end;
  }


.textField {
    height: 100%;
    border-width: 1px;
    border-style: solid;
    overflow-y: scroll;
    border-color: var(--fcolor);
  }


.editorFooter {
    display: flex;
    justify-content: space-between;
    color: var(--fcolor);
  }