.toolbox{
    background: var(--primary-color);
    height: 86px;
    box-shadow: 0px 4px 4px #00000022;
    display: flex;
    align-items: center;
    position: sticky;
    top: 34px;
    z-index: 1;
}
.tools {
    height: 41px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--fcolor);
    border-radius: 19px;
    display: flex;
    align-items: center;
    gap: 11px;
  }

.toolContainer {
    border-right: 1px solid var(--fcolor);
    display: flex;
    gap: 11px;
  }